<mat-dialog-content>
  <ng-container *ngIf="form">

    <ng-container [formGroup]="form">

      <mat-form-field>

        <input matInput
               placeholder="Title"
               formControlName="title">

      </mat-form-field>

      <mat-form-field>

        <input matInput
               placeholder="Description"
               formControlName="description">

      </mat-form-field>

    </ng-container>

  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>
