<mat-expansion-panel expanded="{{ expanded }}">
  <mat-expansion-panel-header>
    {{ employee.name }}
  </mat-expansion-panel-header>

  <mat-card *ngFor="let task of employee.toDoTasks">
    <mat-card-header>
      <mat-card-title> {{ task.title }} </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <label>Description</label>
      <p>{{task.description }}</p>
      <label>Priority Level</label>
      <p>{{task.priorityLevel }}</p>
      <label>State</label>
      <p>{{task.state }}</p>
      <label>Estimate</label>
      <p>{{task.estimate }}</p>
    </mat-card-content>

    <mat-card-actions>

      <button (click)="editTask(task)">Edit</button>
      <button (click)="deleteTask(task)">Delete</button>
    </mat-card-actions>
  </mat-card>

</mat-expansion-panel>
  <!--<mat-accordion>
    <mat-expansion-panel *ngFor="let task of employee.toDoTasks">
      <mat-expansion-panel-header>
        {{ task.title }}
      </mat-expansion-panel-header>
      <label>Description</label>
      <p>{{task.description }}</p>
      <label>Priority Level</label>
      <p>{{task.priorityLevel }}</p>
      <label>State</label>
      <p>{{task.state }}</p>
      <label>Estimate</label>
      <p>{{task.estimate }}</p>

    </mat-expansion-panel>
  </mat-accordion>-->
